[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

* {
    font-family: "Times New Roman", Times, serif;
}

html {
  position: relative;
  height: 100%;
  overflow-x: hidden; //this is used to stop the scrollbar pushing content left..
}

body {
  min-height: 100%;
  height: 100%;
  background-repeat: repeat-y;
  background-position: center center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  @media(max-width: $screen-xs-max) {
    -webkit-background-size: auto auto;
    -moz-background-size: auto auto;
    -o-background-size: auto auto;
    background-size: auto auto;
  }

  @media(min-width: $screen-sm-min) {
    -webkit-background-size: $screen-sm-min + $grid-gutter-width auto;
    -moz-background-size: $screen-sm-min + $grid-gutter-width auto;
    -o-background-size: $screen-sm-min + $grid-gutter-width auto;
    background-size: $screen-sm-min + $grid-gutter-width auto;
  }

  @media(min-width: $screen-md-min) {
    -webkit-background-size: $screen-md-min + $grid-gutter-width auto;
    -moz-background-size: $screen-md-min + $grid-gutter-width auto;
    -o-background-size: $screen-md-min + $grid-gutter-width auto;
    background-size: $screen-md-min + $grid-gutter-width auto;
  }

  @media(min-width: $screen-lg-min) {
    -webkit-background-size: $screen-lg-min + $grid-gutter-width auto;
    -moz-background-size: $screen-lg-min + $grid-gutter-width auto;
    -o-background-size: $screen-lg-min + $grid-gutter-width auto;
    background-size: $screen-lg-min + $grid-gutter-width auto;
  }

  .pseudotab {
    border-radius: 5px 5px 0 0;
    border-bottom: 0;
    height: 30px;
  }
  .progress-bar {
    height: 25px;
    font-size: 13pt !important;
    line-height: 22px !important;
    font-weight: bold;
    background-color: $ok;
  }
}

#SkinContent * {
  box-sizing: initial;
}

.vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 30%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.border {
  border: solid 1px;
}

.fillParent {
  height: 100%;
}

.fillchild {
  height: auto;
}

.changeuibutton {
  position: relative !important;

}

.ui-base {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.login-margin {
  margin-top: 5em;
  margin-left: auto;
  margin-right: auto;
}

.fadein,
.fadeout {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s;
}

.fastfadein,
.fastfadeout {
  -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
  -moz-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
  -o-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.8s;
}

.fastfadein.ng-hide-remove,
.fastfadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fastfadeout.ng-hide-add,
.fastfadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.fadein.ng-hide-remove,
.fadeout.ng-hide-add.ng-hide-add-active {
  opacity: 0;
  display: block !important;
}

.fadeout.ng-hide-add,
.fadein.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
  display: block !important;
}

.palm-cursor {
  cursor: pointer;
}

a.removedefaulthyper {
  color: black;
}

.centerElement {
  margin: auto !important;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

#footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  height: 100px !important;

}

@media screen and (max-height: 700px) , screen and (max-width: 799px){
  #footer {
    display: none;
  }
}


.myTooltip {
  border-radius: 25px !important;
  font-size:0.7em !important;
}

#Logo h1 {
  font-size: 2.5em !important;
}



@media screen and (max-width: 799px) {
  #Logo h1 {
    font-size: 1em !important;
  }
}


.footer_p_singleview {
  height: 100%;
  min-height: 100%;
  margin-bottom: 0px;
  font-size: 1em !important;
  clear: both;
  font-size: 9px;
  color: #eee;
  padding-left: 50px;
  padding-top: 20px;
  background-color: #000;
  min-height: 80px;
  border-top: #ffcc00;
  border-top-width: 10px;
  border-top-style: solid;
}

#footer_singleview {
  width: 100%;
  height: 100px !important;
  bottom: 0;
  position: fixed;
}

.footer_p {
  height: 100%;
  min-height: 100%;
  margin-bottom: 0px;
}

.nastycenter {
  margin-top: -80px !important;
  border-style: none !important;
  border: none !important;
}

.centerSpinner {
  margin-top: 200px !important;
}

div.tooltip-inner {
  text-align: center;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  margin-bottom: 6px;
  background-color: #505050;
  font-size: 1.3em;
}

.footer_p {
  font-size: 1em !important;
}

.uniquefont {
  * {
    font-size: 1em !important;
  }
}

.carsousel {
  width: 80% !important;
  overflow: hidden;
  height: 700px !important;
  margin: auto;
  border: solid 4px;
}

#cssmenu {
  z-index: 999;
}

.tableauPlaceholder {
  overflow: scroll !important;
}

