<div id="SkinContent">
    <div id="LogoContainer">
        <div id="Logo">
          <h1> MOOC Dashboard</h1></div>
        </div>
    </div>


</div>


<div class="login-margin">
    <div ui-view/>
</div>


<div id="footer">
    <p class="footer_p">UNSW - Learning & Teching Unit, <br/>
        Learning Analytics and Data Analysis Team.<br/>
        For feedback/comments please contact unswmooc1@gmail.com<br/><br/><br/>
        <strong>Last edited on date 24 august 2015. </strong>
    </p>
</div>
