<div class="ui middle aligned center aligned grid">
    <div class="column"  style="width:600px;height:auto">
        <h2 class="ui teal image header">
            <div class="content">
                Log-in to your course
            </div>
        </h2>
        <form class="ui large form">
            <div class="ui segment">

                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="E-mail address">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password">
                    </div>
                </div>

                <div class="field">
                    <div class="ui left icon input">
                        <div class="ui selection dropdown labeled icon fluid" >
                            <input type="hidden" id="courseselect">
                            <i class="dropdown icon"></i>

                            <div class="default text">Select your course</div>
                            <div class="menu">
                                <div class="item">
                                    LTTO
                                </div>
                                <div class="item">
                                    P2P
                                </div>
                                <div class="item">
                                    PMed-001
                                </div>
                                <div class="item">
                                    Introse
                                </div>
                                <div class="item">
                                    Introse-002
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="field">
                    <div class="ui left icon input">
                        <button class="ui fluid teal button changeuibutton" ng-click="login()">
                            Login in
                        </button>
                    </div>
                </div>


            </div>
            <div class="ui error message"></div>

        </form>

        <div class="ui floating message">
            New to us&nbsp;? &nbsp;<a href="#">Sign Up</a>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.ui.dropdown')
                .dropdown();
    });
</script>