<div id="mainbody">

    <h2><span style="font-family:verdana,geneva,sans-serif">MOOC Dashboard Overview</span></h2>

    <p><span style="font-family:verdana,geneva,sans-serif">This dashboard is a tool which aims to provide easily accessible, at-a-glance information to better understand different aspects from a MOOC course.</span>
    </p>

    <p><span style="font-family:verdana,geneva,sans-serif">It draws from available data to produce snapshot visual representations.&nbsp;The dashboard is designed to initiate conversation, investigation and/or action around different course aspects.</span>
    </p>

    <div>
        <hr/>
        <p>&nbsp;</p>

        <h3><span style="font-family:verdana,geneva,sans-serif"><strong>Visual Walkthrough of the main user
            interface components:</strong></span></h3>
    </div>

    <h4><span style="font-family:verdana,geneva,sans-serif"><strong>Home page overview:</strong></span></h4>

    <p><img alt="" ng-src="{{$root.appPath}}/images/manual/picture1.PNG"
            style="height:429px; width:800px"/></p>

    <ul>
        <li><span style="font-family:verdana,geneva,sans-serif">(a) Report Categories &ndash; data segmented by key areas</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">(b) Functional Domains &ndash; data segmented course elements</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">(c) Quick links &amp; site map</span></li>
        <li><span style="font-family:verdana,geneva,sans-serif">(d) Help buttons section</span></li>
    </ul>

    <p>&nbsp;</p>

    <h4><span style="font-family:verdana,geneva,sans-serif"><strong>Example page &ldquo;Overview from Report
        Categories&rdquo;:</strong></span></h4>

    <p><img alt="" ng-src="{{$root.appPath}}/images/manual/picture2.PNG"
            style="height:705px; width:800px"/></p>

    <ul>
        <li><span style="font-family:verdana,geneva,sans-serif">(e) Navigation menu (to move between pages)</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">(f) Help &ndash;
            to get more information about a page</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">(g) Dashboard Guide &ndash; A quick guide to common features in the dashboard.</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">(h) Export tools &ndash; self-service tools to allow data download and further individual exploration</span>
        </li>
    </ul>

    <p style="margin-left:54.0pt">&nbsp;</p>

    <h3><span style="font-family:verdana,geneva,sans-serif"><strong>Tabs with a page:</strong></span></h3>

    <p><img alt="" ng-src="{{$root.appPath}}/images/manual/picture3.PNG"
            style="height:183px; width:800px"/></p>

    <ul>
        <li><span style="font-family:verdana,geneva,sans-serif">(i) Tabs help separate larger content areas into manageable chunks.</span>
        </li>
    </ul>

    <p>&nbsp;</p>

    <hr/>
    <p>&nbsp;</p>

    <h3><span style="font-family:verdana,geneva,sans-serif"><strong>Key Definitions:</strong></span></h3>

    <ul>
        <li><span style="font-family:verdana,geneva,sans-serif">Signature Track, refers to those who paid for a certificate</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">Non-Signature Track, refers to those who did not pay for the course</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">Distinction, refers to those who achieved a grade as per the formula for distinction</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">Pass, refers to those who achieved a grade as per the formula for distinction</span>
        </li>
    </ul>

    <p>&nbsp;</p>

    <div>
        <hr/>
        <p>&nbsp;</p>
    </div>

    <h3><span style="font-family:verdana,geneva,sans-serif"><strong>Additional Notes:</strong></span></h3>

    <ul>
        <li><span style="font-family:verdana,geneva,sans-serif">Data is shown only for students (and excludes teacher/tutor/community mentor data)</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">Weeks 1..52 refer to calendar weeks, and situate when during the year, the course ran.</span>
        </li>
        <li><span style="font-family:verdana,geneva,sans-serif">Most graphs can be drilled down, via hovering on elements, for example:</span>
        </li>
    </ul>

    <p>​<img alt="" ng-src="{{$root.appPath}}/images/manual/picture5.PNG"
             style="height:293px; width:800px"/></span></p>

    <p>​<img alt=""  ng-src="{{$root.appPath}}/images/manual/picture4.PNG"
             style="height:156px; width:800px"/></span></p>


</div>
<div id="manual_footer">
    <p class="manual_footer_p">UNSW - Learning & Teching Unit, <br/>
        Learning Analytics and Data Analysis Team.<br/>
        For feedback/comments please contact unswmooc1@gmail.com<br/><br/><br/>
        <strong>Last edited on date 24 august 2015. </strong>
    </p>
</div>
<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

