<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

<div ng-if="$root.debugMode">
    <pre>{{courseName}}</pre>
    <pre>{{topMenuDomMap|json}}</pre>
    <pre>{{topMenuReportMap|json}}</pre>
    <pre>{{courseDetail|json}}</pre>
</div>

<div id='cssmenu'>
    <ul>
        <li><a class="palm-cursor" ng-click="goToHome(courseName)">Home</a></li>
        <li><a class="palm-cursor">Report Categories</a>
            <ul>
                <li ng-repeat="(key,value) in topMenuReportMap"><a class="palm-cursor"
                                                                   ng-click="goToSingleView(value.page)">{{value.section|capitalize}}</a>
                </li>
            </ul>
        </li>
        <li class='has-sub'><a class="palm-cursor">Functional Domains</a>
            <ul>
                <li ng-repeat="(key,value) in topMenuDomMap"><a class="palm-cursor"
                                                                ng-click="goToSingleView(value.page)">{{value.section|capitalize}}</a>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="mainbody">


    <div ng-if="!viz" class="text-center centerSpinner">
    <span  >
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </span>
    </div>

    <mooc-tableau page="viewType" mooc="courseDetail.mooc" viz="viz"></mooc-tableau>
</div>
<div id="footer">
    <p class="footer_p">UNSW - Learning & Teching Unit, <br/>
        Learning Analytics and Data Analysis Team.<br/>
        For feedback/comments please contact unswmooc1@gmail.com<br/><br/><br/>
        <strong>Last edited on date 24 august 2015. </strong>
    </p>


    <div id="tools" class="nastycenter">
        <ul>
            <li ng-click="viz.showExportImageDialog()" class="palm-cursor" title="Export as picture">
                <img src="../images/toold_img.png"
                     uib-popover="{{'export_pic'|superTooltip}}" popover-trigger="mouseenter"
                     popover-placement="top"
                        />
            </li>
            <li class="palm-cursor" ng-click="viz.showExportPDFDialog()"><img
                    src="../images/toold_pdf.png"

                    uib-popover="{{'export_pdf'|superTooltip}}" popover-trigger="mouseenter"
                    popover-placement="top"
                    /></li>
            <li class="palm-cursor" ng-click="viz.showExportDataDialog()"><img
                    src="../images/toold_data.png"
                    uib-popover="{{'export_exp'|superTooltip}}" popover-trigger="mouseenter"
                    popover-placement="top"
                   /></li>
            <br>
            <br>
            <!--uib-tooltip="{{'export_exp'|superTooltip}}"-->
            <!--tooltip-placement="top"-->
            <p id="toolbox">EXPORT TOOLS</p>
        </ul>

    </div>

</div>