<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>

<div ng-if="$root.debugMode">
    <pre>{{courseName}}</pre>
    <pre>{{topMenuDomMap|json}}</pre>
    <pre>{{topMenuReportMap|json}}</pre>
    <pre>{{courseDetail|json}}</pre>
</div>

<div id='cssmenu'>
    <ul class="uniquefont">
        <li><a class="palm-cursor" ng-click="goToHome(courseName)">Home</a></li>
        <li><a class="palm-cursor">Report Categories</a>
            <ul>
                <li ng-repeat="(key,value) in topMenuReportMap"  ng-class="{'has-sub':isArray(value)}" >
                    <a class="palm-cursor" ng-click="goToSingleView(value.page)" ng-if="!isArray(value)">
                        {{value.section|capitalize}}
                    </a>
                    <a class="palm-cursor" ng-if="isArray(value)">
                        {{value[0].section|capitalize}}
                    </a>
                    <ul ng-if="isArray(value)">
                        <li  ng-repeat="subEle in value" class="longText">
                            <a class="palm-cursor longText" ng-click="goToSingleView(subEle.page)">
                                {{subEle.section|capitalize}}_ {{subEle.page|capitalize}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a class="palm-cursor">Functional Domains</a>
            <ul>
                <li ng-repeat="(key,value) in topMenuDomMap" ng-class="{'has-sub':isArray(value)}">
                    <a class="palm-cursor" ng-click="goToSingleView(value.page)"  ng-if="!isArray(value)">{{value.section|capitalize}}</a>
                    <a class="palm-cursor" ng-if="isArray(value)">
                        {{value[0].section|capitalize}}
                    </a>
                    <ul ng-if="isArray(value)">
                        <li  ng-repeat="subEle in value" class="longText">
                            <a class="palm-cursor longText" ng-click="goToSingleView(subEle.page)">
                                {{subEle.section|capitalize}}_ {{subEle.page|capitalize}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
</div>
<div id="mainbody" style="padding-right:30px">
    <div ng-if="!viz" class="text-center centerSpinner">
    <span>
        <i class="fa fa-spinner fa-pulse fa-5x"></i>
    </span>
    </div>
    <mooc-tableau page="viewType" mooc="courseDetail.mooc" viz="viz"></mooc-tableau>
    <br>
    <br>
</div>
<div id="footer_singleview">
    <p class="footer_p_singleview">UNSW - Learning & Teching Unit, <br/>
        Learning Analytics and Data Analysis Team.<br/>
        For feedback/comments please contact unswmooc1@gmail.com<br/><br/><br/>
        <strong>Last edited on date 24 august 2015. </strong>
    </p>


    <div id="tools" class="nastycenter">
        <ul>
            <li ng-click="viz.showExportImageDialog()" class="palm-cursor" title="Export as picture">
                <img ng-src="{{$root.appPath}}/images/toold_img.png"/>
            </li>
            <li class="palm-cursor" ng-click="viz.showExportPDFDialog()"><img
                    ng-src="{{$root.appPath}}/images/toold_pdf.png"/></li>
            <li class="palm-cursor" ng-click="viz.showExportDataDialog()"><img
                    ng-src="{{$root.appPath}}/images/toold_data.png"/></li>
            <br>
            <br>
            <!--uib-tooltip="{{'export_exp'|superTooltip}}"-->
            <!--tooltip-placement="top"-->
            <p id="toolbox">EXPORT TOOLS</p>
        </ul>

    </div>

</div>
